@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toast-bg: white;
  --toast-color: #1f2937;
  --toast-info-bg: #EFF6FF;
  --toast-info-color: #1E40AF;
  --toast-loading-bg: #F3F4F6;
  --toast-loading-color: #1F2937;
}

.dark {
  --toast-bg: #1f2937;
  --toast-color: #f9fafb;
  --toast-info-bg: #1E3A8A;
  --toast-info-color: #BFDBFE;
  --toast-loading-bg: #374151;
  --toast-loading-color: #F9FAFB;
}

/* Base styles */
body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Custom Animation Classes */
.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Utils for display and scroll behavior */
.h-screen {
  height: 100vh;
  height: 100dvh;
}